beautifulsoup4==4.13.5
duckdb==1.5.4
numpy==2.2.6
scikit-learn==1.7.2
sentence-transformers==4.54.5
transformers==4.52.4
huggingface_hub==0.33.5
pillow==12.0.0
xmltodict==1.0.4
gliner==0.2.16
gliner-spacy==0.0.11
torch==2.7.0
spacy==3.8.14
matplotlib==3.10.6